.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output
_kitql
_gen
yarn-error.log
src/lib/storyblok/components-types.d.ts
src/lib/storyblok/imports/*
src/lib/components/bloks/*